# Log files
*-debug.log
*-error.log

# macOS system files
**/.DS_Store

# IDEs and editors
.idea/

# Build and temp folders
dist/
tmp/
node_modules/
tsconfig.build.tsbuildinfo
oclif.manifest.json

# Lockfiles (choose one depending on your package manager)
yarn.lock
package-lock.json

# Know created test folders
candy1
testCm1
testCm2
testcm3
testCmW
